:root {
  --background-clr: hsl(240, 31%, 20%);
  --btn-clr: #4c1d95;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgb(107, 33, 168),
    rgb(76, 29, 149),
    rgb(107, 33, 168)
  );
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  background: #fff;
  width: 40vw;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  border: 2px solid #fff;
  border-radius: 1rem;
}

h2 {
  text-align: center;
  letter-spacing: 3px;
  padding-top: 0.5rem;
}

.input-container {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  margin: 1rem;
}

.input {
  padding: 1rem;
  width: 70%;
  height: 0.7rem;
  background: rgb(241, 241, 241);
  border: transparent;
  border-radius: 1rem;
  outline: var(--btn-clr);
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.input:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.input:focus {
  background: #fff;
  border: 2px solid rgb(76, 29, 149);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.input::placeholder {
  font-size: 0.8rem;
  text-transform: capitalize;
}
button {
  background: var(--btn-clr);
  width: 80px;
  height: 33px;
  border: transparent;
  border-radius: 1.2rem;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 2px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  outline: none;
}
button:active {
  opacity: 0.8;
  outline: none;
}
button:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.list-item-container {
  height: 375px;
  margin: 1.5rem;
  overflow: auto;
}
section {
  margin: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  justify-content: space-between;
  background: rgb(241, 241, 241);
  border-radius: 0.8rem;
}
p {
  text-align: center;
  padding: 0 7px;
}
.done {
  text-decoration: line-through;
}
.delete-btn {
  color: #ad0f06;
  cursor: pointer;
}

.delete-btn:hover {
  color: #f12b21;
}
.clear-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clear-btn {
  margin-bottom: 0.3rem;
  width: 80%;
  background-color: #f12b21;
}
.clear-btn:hover {
  background-color: #fa0c00;
}

/* Animations */

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bounceInLeft {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes bounceInLeft {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}

.bounceOutRight {
  -webkit-animation-name: bounceOutRight;
  animation-name: bounceOutRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
}
@keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
}
/* End of Animations */
/* *****************Break Points*********************** */
@media screen and (min-width: 850px) and (max-width: 1125px) {
  main {
    width: 50vw;
  }
}

@media screen and (min-width: 650px) and (max-width: 850px) {
  main {
    width: 60vw;
  }
  .list-item-container {
    margin: 0rem;
  }
}
@media screen and (min-width: 500px) and (max-width: 650px) {
  main {
    width: 70vw;
  }
  .list-item-container {
    margin: 0rem;
  }
}

@media screen and (max-width: 500px) {
  body {
    justify-content: flex-start;
    margin-top: 3rem;
  }
  main {
    width: 95vw;
  }
  .list-item-container {
    margin: 0rem;
  }
}
